<header>
  <div class="header-content">
    <button type="button" class="hamburger-button" aria-label="Open main menu" (click)="navigationService.toggleMenu()">
      <app-icons [name]="navigationService.isMenuOpen() ? 'hamburger-close' : 'hamburger-open'" />
    </button>
    <nav class="nav-list" [attr.data-open]="navigationService.isMenuOpen()">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active-page" [routerLinkActiveOptions]="{ exact: true }" (click)="navigationService.closeMenu()">Kurser</a>
        </li>
        <li>
          <a routerLink="/ramschema" routerLinkActive="active-page" (click)="navigationService.closeMenu()">Mitt ramschema</a>
        </li>
      </ul>
    </nav>
  </div>
</header>