@use '../../scss/core' as *;

header {
  position: relative;
  overflow: hidden;
  padding: 0 $standard-padding;
  background-color: $color-primary;
  app-icons {
    display: flex;
  }
}

.header-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

:host-context(html[data-theme="light"]) {
  header {
    color: $text-muted-inverse;
    ::ng-deep .icon {
      stroke: $text-muted-inverse;
    }
  }
}