@use '../../scss/core' as *;

.courseTable {
  display: grid;
  grid-template-columns: auto 1.5fr auto 1fr auto auto;
  grid-auto-rows: minmax(60px, auto);
  width: 100%; 
  th {
    text-align: center;
    user-select: none;
    span {
      display: flex;
      gap: 0.25ch;
      width: fit-content;
      cursor: pointer;
    }
  }
  td span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td:nth-child(3), td:nth-child(5), td:nth-child(6) {
    text-align: center;
  }
}

thead, tbody, tr {
  display: contents;
}

td, th {
  display: grid;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid color-mix(in srgb, var(--text-primary), transparent 80%);
  cursor: default;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.syllabus-td {
  color: rgb(119, 58, 119);
}

.add-button, .remove-button {
  padding: 1ch 2ch;
  border-radius: 10px;
  color: $text-muted;
  background-color: $color-primary;
  white-space: nowrap;
  &:hover {
    background-color: grey;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
    &:active {
      transform: scale(1);
    }
    &:hover {
      background-color: $color-primary;
    }
  }
}

:host-context(html[data-theme="light"]) {
  .add-button, .remove-button {
    color: $text-muted-inverse;
  }
}

:host-context(html[data-theme="dark"]) {
  input, select {
    color-scheme: dark;
  }
}

.pagination-container {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin-top: 3rem;
  color: $text-primary;
  input {
    width: 4ch;
    border: 1px solid color-mix(in srgb, var(--text-primary), transparent 50%);
    border-radius: 4px;
    text-align: center;
    color: $text-primary;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    opacity: 1 !important;
    -webkit-appearance: inner-spin-button !important;
  }
  button {
    display: flex;
    color: $text-primary;
    ::ng-deep .icon {
      width: 1.2em;
    }
  }
}

app-icons {
  display: flex;
}

@media (max-width: 900px) {
  .courseTable {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    th, td {
      border-bottom: none;
    }
  }
  
  thead {
    display: none;
  }

  tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 1ch;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.02),
      0 4px 8px rgba(0, 0, 0, 0.02),
      0 8px 16px rgba(0, 0, 0, 0.04),
      0 16px 32px rgba(0, 0, 0, 0.04);
    td span {
      white-space: unset;
      overflow: unset;
      text-overflow: unset;
    }
  }


  :host-context(html[data-theme="dark"]) {
    tbody tr {
      background-color: $color-primary;
    }

    .add-button, .remove-button {
      background-color: $color-background;
      box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.02),
        0 4px 8px rgba(0, 0, 0, 0.02),
        0 8px 16px rgba(0, 0, 0, 0.04),
        0 16px 32px rgba(0, 0, 0, 0.04);
    }
  }

  td:not([data-label="link-and-button:"], [data-label="Kursnamn:"]) {
    grid-column: 1 / 3;
    justify-content: start;
    padding: 0;
    &::before{
        content: attr(data-label);
        font-weight: 600;
        color: #777;
      }
  }

  td[data-label="Kursnamn:"] {
    order: 1;
    grid-column: 1 / 3;
    padding: 0;
    font-size: 1.1em;
    font-weight: 700;
  }

  td[data-label="Kurskod:"] {
    order: 2;
    display: flex;
    gap: 0.5ch;
    align-items: start;
  }

  td[data-label="Ämne:"] {
    order: 3;
  }

  td[data-label="Poäng:"] {
    order: 4;
    display: flex;
    gap: 0.5ch;
    align-items: start;
  }

  td[data-label="link-and-button:"] {
    order: 5;
    width: fit-content;
    margin: auto;
    padding: 0;
  }
}