@use 'variables' as *;

app-root {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header-content, .main-content, .footer-content {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
}

.main-content {
  height: 100%;
  padding: 3rem $standard-padding;
}