@use '../../scss/core' as *;

.home-main {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  h1 {
    margin-bottom: 1rem;
    font-size: 2.25em;
    font-weight: 500;
  }
}

.total-courses {
  margin: 3rem 0 0.5rem 0;
}

.filter-search-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  color: $text-primary;
  div {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  input, select {
    padding: 0.25ch 0;
    border: 1px solid color-mix(in srgb, var(--text-primary), transparent 50%);
    border-radius: 4px;
    color: $text-primary;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: color-mix(in srgb, var(--text-primary), transparent 80%);
  }
}